/* PreviousButton.component.css */
.prev-btn {
   border: none;
   background-color: transparent;
   cursor: pointer;
   margin: 10px;
   transition: transform 0.5s;
 }
 
 .prev-btn:focus {
   outline: none;
 }
 
 .prev-btn:hover {
   color: #636363;
 }
 
 .prev-btn i {
   font-size: 50px;
   color: gray;
 }
 