#champTexte {
    width: auto; /* Largeur automatique */
    min-width: 20px; /* Largeur minimale */
    max-width: 39px; /* Largeur maximale */
    border: none;
    
    /* Optionnel : styles supplémentaires */
    /* padding: 5px;
    border: 1px solid #ccc; */
  }
  
.fa-hover {
    cursor: pointer;
    /* color: blue;
    back */
}
  