/* Paper.css */
.paper {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   perspective: 1500px;
 }
 
 .flipped .front {
   transform: rotateY(-180deg);
 }
 
 .flipped .back {
   transform: rotateY(0deg);
 }
 