/* Back.component.css */
.back {
   background-color: white;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   transform-origin: left;
   transition: transform 0.5s;
   z-index: 0;
 }
 