.container-procede{
  /* width: 90%; */

}

.procede-line{
  background-color: #F3F3F3;
  border-radius: 5px;
  width: 88%;
  margin-top: 1%;
  height: 30px;
}

.procede-line-item{

}

.line-item1 {
  width: 7%;
  border-radius: 100px;
  background-color: #F3F3F3;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 1px;

}

.line-item2 {
  width: 93%;
  border-radius: 100px;
  background-color: #F3F3F3;
  margin-left: 1%;
}

.add-procede-btn{
    margin-top: 6%;
    width: 6%;
    border-radius: 100px;
    background-color: #F3F3F3;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 2px;
  
  }
