.cover-leftSide,
.front-content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cover-rightSide,
.front-content {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.cover-leftSide{
    background-color: #C4C4C4;
    width: 5%;
}

.cover-rightSide{
    background-color: #FEFEFE;
    width: 95%;

    display: flex;
    flex-direction: column;
}

.cover-rightSide,
.cover-leftSide,
.front-content {
    box-shadow: 0px 10px 10px -5px rgba(131, 126, 126, 0.5);
}

.cover-rightSide-item-header {
    height: 23%;
    width: 50%;

  }
  
  .cover-rightSide-item-center {
    height: 70%;
    margin: auto;
    width: 100%;
  }
  
  .cover-rightSide-item-footer {
    height: 5%;
  }


  .select-descend {
    margin-top: .4cm; 
  } 
.form-group{
  .mt-md-négatif-2 {
    margin-top: -1.5rem;
  }

}

.input-border-bottom{
  border: none;
  border-bottom: 1px solid #524a4a;
  width: 70%;
}
.input-border-bottom:focus {
  border: none;
  border-bottom: 1px solid #524a4a;
  width: 70%; /* Codiveur de la bordure lors du focus */
}

/* select design */

div.select-menu {
  position: relative;
}
div.select-menu div.select-btn{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  background-color: #F3F3F3;
  color: gray;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 13px;
  cursor: pointer;
  width: 100%;
}

div.select-menu div.select-btn .icon-chevron{
  font-size: 22px;
  transition: 0.5s;
}

div.select-menu div.select-btn.active .icon-chevron {
  transform: rotate(-180deg);
}

div.select-menu div.select-btn.active~.list .option{
  transition: transform .5s cubic-bezier(0.1, 0.8, 0, 0.6), margin-bottom .2s cubic-bezier(0.1, 0.8, 0, 0.6);
  transform: scale(1) translate(0);
  margin-bottom: 0;
}
div.select-menu div.list{
  position: absolute;
  width: 100%;
  background-color: #F3F3F3;
  transform: translateY(-1px);
}

div.select-menu div.list li.option{
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  background-color: #F3F3F3;
  padding-left: 10px;
  cursor: pointer;
  color: gray;
  transform-origin: top;
  transform: scale(0) translateY(-52px);
  margin-bottom: -49px;
}

div.select-menu div.list li.option:hover{
  color: black;
}

div.select-menu div.list li.option span.option-text{
  font-size: 14px;
}