
  
  .toggle-button {
    position: relative;
    width: 40px; /* Réduction de la largeur */
    height: 20px; /* Réduction de la hauteur */
    border: none;
    border-radius: 10px; /* Ajustement de la bordure */
    background-color: #ccc;
    cursor: pointer;
    outline: none;
  }
  
  .toggle-indicator {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px; /* Réduction de la taille */
    height: 16px; /* Réduction de la taille */
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    
  }
  
  .toggle-button.active {
    background-color: #296933; /* Couleur bleue lorsque le bouton est actif */
  }
  
  .toggle-button.active .toggle-indicator {
    transform: translateX(20px); /* Déplacer l'indicateur de basculement vers la droite lorsque le bouton est actif */
  }
  
  
  .toggle-text {
    margin-left:10px; /* Marge de 8px entre le bouton et le texte */
    margin-top: 25px; /*Ajustement pour aligner le texte sur le même niveau que le bouton */
  }