

.book {
   position: relative;
   width: 550px;
   height: 670px;
   transition: transform 0.5s;
   
 }
 
 .front-content,
 .back-content {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 h1 {
   color: black;
 }

#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}
#p3 {
  z-index: 1;
}

#selectBackground{
  background-color: #F3F3F3;
}

.icon-size{
  height: 14px;
}

#book.book {
  transition: opacity 1s ease;
}
#book.disparition {
  opacity: 0;
}

#the-app{
  position: relative;
}
#the-app .submit-message {
  position: absolute;
  display: none;
  opacity: 0; 
  transition: opacity 0.5s ease;
}

#the-app .submit-message.aparition{
  opacity: 1;
  /* margin-left: 45%; */
  width: 450px;
  display: block;
}

