/* app.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
   display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh; 
  min-width: max-content;
  /* background-color: red; */
  
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
  }
  

  .paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;
  }
  
  .front,
  .back {
    /* background-color: white; */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
  }
  
  .back{
    transition: transform 1s;
    /* background-color: green; */

  }
  
  .front {
    z-index: 1;
    backface-visibility: hidden;
    /* border-left: 3px solid powderblue; */
    margin-left: 2px;
  }
  
  .back {
    z-index: 0;
  }
  
  .front-content,
  .back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .back-content {
    transform: rotateY(180deg);
  }
  
  .flipped .front,
  .flipped .back {
    transform: rotateY(-180deg);
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
  }
  
  button:focus {
    outline: none;
  }
  
  button:hover i {
    color: #636363;
  }
  
  i {
    font-size: 50px;
    color: gray;
  }
  