.ingredient-leftSide,
.front-content {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.ingredient-rightSide,
.back-content {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ingredient-leftSide{
    background-color: #FEFEFE;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.ingredient-rightSide{
    background-color: #C4C4C4;
    width: 5%;
}

.ingredient-rightSide,
.ingredient-leftSide,
.back-content {
    box-shadow: 0px 10px 10px -5px rgba(131, 126, 126, 0.5);
}

.ingredient-leftSide-item-header {
    height: 15%;

  }
  
.ingredient-leftSide-item-center {
    height: 75%;
}
  
.ingredient-leftSide-item-footer {
    height: 10%;
}

/* searbard */

.header-container .search-container {
    position: relative;
    width: 300px; /* Largeur de la barre de recherche */
  }
  
 .header-container input[type="text"] {
    width: 100%;
    /* padding: 8px 8px 8px 8px;  */
    border: none;
    color: grey;
    border-radius: 50px;
    background-color: #F3F3F3;
    outline: none;
    padding: 2px;
    padding-left: 26px;
    box-sizing: border-box;
  }
  
 .header-container .search-btn {
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
    /* padding: 8px; */
    border: none;
    background: none;
    color: #555;
  }
  
 .header-container .search-btn:hover {
    color: #333;
  }
  
  /*timeslines*/
