

.hexa{
  margin-top: 7px;
  height: 9px;
  width: 9px;
  background-color: #fff;
  border: solid gray 1px;
  border-radius: 100%;
  z-index: 6;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.timeline-content div{
  display: flex;
  
}

.timeline{
  color: gray;
}

.timeline:before {
  position: absolute;
  left: 50%;
  margin-top: 8.5%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 85%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

/* 
.timeline-item{

} */

.timeline-item-left{
  padding-right: 23px;
}

.timeline-item-right span{
  padding-left: 32%;
}


.emptyPoid {
  margin-left: 12px;
  width: 37%;
  border-radius: 100px;
  background-color: #F3F3F3;
}

.croix{
   padding-right: 18px;
   /* background-color: green; */
}

.croix span {
  padding-bottom: 2px;
  color: red;
  opacity: 0.7;
}

.cout{
  width: 30%;
}
.croix:hover{
  cursor: pointer;
}

.poids{
  width: 38%;
  color: black;
}

.ingrdient-title {
  display: flex;
  justify-content: center;
}

.ingredient-title,
.poids-title,
.cout-title {
  font-weight: bold;
}

.ingredient-title{
  margin-left: -30%;
}
.poids-title{
  margin-left: 68%;
}

.cout-title{
  opacity: 0.5;
  margin-left: 250%;
}

.ingrdient-title{
  margin-bottom: 3%;
}